  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url(mountains_landscape_311856.jpg);
  background-repeat: repeat;
  font-family: arial;
 
}
/* Style the header */
.Header {
  background-color: #ffffff00;
  padding: 20px;
  text-align: center;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #;
}
/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
